body,
html,
#root {
    height: 100%;
    margin: 0;
}

:root {
    --arrows_spacing: 2rem;
}

h1 {
    font-family: Franie Test;
}

body {
    background: black;
}

.Title {

    font-size: 6.25rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    max-width: 10rem;
    color: #000;
    -webkit-text-stroke: 1px #E4DFD9;
}

.ProjectTitle {
    color: #E4DFD9;
    font-family: Franie Test;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 32.5rem;
}

.arrows-right {
    display: flex;
    justify-content: left;
    margin-right: var(--arrows_spacing);
}

.arrows-left {
    display: flex;
    justify-content: right;
    margin-left: var(--arrows_spacing);
}

.arrow {
    border: solid #E4DFD9;
    border-width: 0 1.2rem 1.2rem 0;
    display: inline-block;
    padding: 2rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

/* TODO:  retravailler la responsive des fleches*/

.ProjectDecoration {
    display: flex;
    align-items: center;
    background-color: blue;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.projects {
    display: flex;
    flex-direction: column;

    padding: 5rem;
    border: solid #E4DFD9;
    border-width: 1px;
    background-color: green;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.line {
    width: 50%;
    max-width: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
}

.App {
    background: red;
    overflow: hidden;
    min-height: 100vh;
    padding-left: 4rem;
    padding-right: 4rem;
}