body,
html,
#root {
    height: 100%;
    margin: 0;
}

:root {
    --arrows_spacing: 2rem;
}

body {
    margin-left: 4rem;
    margin-right: 4rem;
}

html {
    background-color: red;
}

.App {
    background: rgb(0, 0, 0);
    overflow: hidden;
    min-height: 100vh;

}

h1 {
    font-family: Franie Test;
}

body {
    background: black;
}

.Title {

    font-size: 7vw;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    max-width: 10vw;
    color: #000;
    -webkit-text-stroke: 1px #E4DFD9;
}

.ProjectTitle {
    color: #E4DFD9;
    font-family: Franie Test;
    font-size: 6.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* TODO:  retravailler la responsive des fleches*/

.ProjectDecoration {
    display: flex;
    align-items: center;
    background-color: blue;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.projects {
    display: flex;
    flex-direction: column;

    padding: 5rem;
    border: solid #E4DFD9;
    border-width: 1px;
    background-color: green;
}

.arrow {
    margin-left: -1rem;
    margin-right: -1rem;
}

.left {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);

}

.line {
    flex-grow: 1;
    margin-right: 1rem;
    margin-left: 1rem;
}