body, html, #root {
    height: 100%;
    margin: 0;
  }

h1{
    font-family: Franie Test;
}

.Title{
    
    font-size: 6.25rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    max-width: 10rem;
    color: #000;
    -webkit-text-stroke: 1px #E4DFD9;
}

.Project{
    color: #E4DFD9;
    font-size: 6.25rem;
    font-weight: 700;
    line-height: normal;
}

.App{
    background: #000;
    overflow: hidden;
    min-height: 100vh;
    padding-left: 4rem;
    padding-right: 4rem;
}